{% extends 'base.html' %}
{% block content %}

		<!-- Main -->
		<div id="main">
			<section class="wrapper style1">
				<div class="inner">

					<header class="align-center">
						<h1>Blog</h1>
					</header>
					{% if not blog_posts %}
					<h4 id="content">Blog Posts Coming Soon</h4>
					{% endif %}
					{% for blog_post in blog_posts %}
					<!-- Content -->
						<h2 id="content">{{ blog_post.title }}</h2>
						<p>{{ blog_post.body|truncatechars:140 }}</p>
					{% endfor %}
			
				</div>
			</section>
		</div>

{% endblock %}